.card-list{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-column-gap: 0;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

@media (max-width: 600px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}
